body{
    margin: 0px;
}

.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
.span{
    display: block;
}
.button{
    height: 100px;
    width: 100px;
    border:  solid 2px black;
    display: inline-block;
    cursor: pointer;

}

#grey{
    background-color: grey;
}

#white{
    background: white;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

#purple{
    background-color: purple;
}


